fastapi~=0.110.0
jose==1.0.0
minio==7.2.8
openai~=1.43.0
passlib==1.7.4
pg_cache==0.1.6.1
pgvector==0.3.2
pydantic~=2.5.3
python-dotenv~=1.0.0
python_bcrypt==0.3.2
python_jose==3.3.0
pytz==2024.1
SQLAlchemy==2.0.32
uvicorn~=0.25.0

python-jose~=3.3.0
diskcache~=5.6.3
bcrypt~=4.0.1
alembic~=1.13.1